 <!-- About Section -->
<section class="about" id="section">
    <div class="bcg" data-center="background-position: 50% 0px;"
    data-top-bottom="background-position: 50% -100px;"
    data-anchor-target="about">
        <div class="about-wrapper">
            <h2>Hey, I'm Phillip.</h2>
            <h3>I'm design-minded, detail oriented software engineer <br> passionate about EVERYTHINg....</h3>
            <span class="divider"></span>
            <div class="p-wrapper">
                <img class="headshot" style="float: right;" src="img/profile.png" alt="Poor Headshot eyes closed">
                <p class="about-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                <p class="about-p">sum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p class="about-p">dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen</p>
                <p class="about-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                <p class="about-p">sum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                
            </div>
        </div>
    </div>
</section>
