<section id="intro" class="section">
        <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="intro" >
            <div class="hsContainer">
                <div class="hsContent"
                    data-center="opacity: 1"
                    data-106-top="opacity: 0"
                    data-anchor-target="intro h2">
                    <h2>Phillip Wu Liang </h2>
                </div>
            </div>
        </div>
</section>