 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-project" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
    
                            {% if post.img3 %}
                            <div id="rowimage">
                                        <img src="img/portfolio/{{ post.img2 }}" class="images" alt="{{ post.img2-alt }}">
                                        <img src="img/portfolio/{{ post.img3 }}" class="images"  alt="{{ post.img3-alt}}">
                                        <img src="img/portfolio/{{ post.img4 }}"  class="images" alt="{{ post.img4-alt}}">
                                        
                            </div>
                            {% else %}
                                <img src="img/portfolio/{{ post.img2 }}" alt="{{ post.img2-alt }}">
                            {% endif %}
                            {% if post.more-description %}
                                <p>{{ post.more-description }}</p>
                            {% endif %}
                            <ul class="used-items">
                                {% if post.technologies %}
                                    <h3>Tecnologies Used:</h3>
                                    {% if post.technology1 %}
                                    <li class="used-item"><a href="{{technology1-link}}">{{post.technology1}} </a> </li>
                                    {% endif %}
                                    {% if post.technology2 %}
                                    <li class="used-item"><a href="{{technology2-link}}">{{post.technology2}} </a> </li>
                                    {% endif %}
                                    {% if post.technology3%}
                                    <li class="used-item"><a href="{{technology3-link}}">{{post.technology3}} </a> </li>
                                    {% endif %}
                                    {% if post.technology4 %}
                                    <li class="used-item"><a href="{{technology4-link}}">{{post.technology4}} </a> </li>
                                    {% endif %}
                                {% endif %}
                                {% if post.project-date %}
                                    <li class="listin">Date:
                                        <strong>{{ post.project-date }}</strong>
                                    </li>
                                {% endif %}
                                {% if post.source %}
                                    <li class="listin">Source:
                                        <strong><a href="{{post.source}}"> Link</a>
                                        </strong>
                                    </li>
                                {% else %}
                                    <li class="listin">Demo:
                                        <strong><a href="{{post.source}}"> Link</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}