<section id="timeline" class="section">
        <div class="bcg-tl" data-anchor-target="#timeline"
        data-bottom-top="transform: translate3d(0px, -150px, 0px);"
        data-top-bottom="transform: translate3d(0px, 150px, 0px);">
        <div class= exp-center>
            <h2>EXPERIENCE</h2>
            <span class="divider"></span>
            <p> </p>
        </div>
        <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> Western Washington University</h4>
                            <p><small class="text-muted"> Computer Science Degree</small></p>
                        </div>
                        <div class="timeline-body-univ">
                            <p> Bachelor of Science in Computer Science.<br> Graduating in Summer of 2019 </p>
                        </div>
                        <p><small class="text-time"><i class="glyphicon glyphicon-time"></i>  September 2015 - Present</small></p>
                    </div>
                </li>
                <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"> HCI RESEARCH ASSISTANT </h4>
                                <p class="company"><small class="text-muted"> WWU College of Computer Science</small></p>
                            </div>
                            <div class="timeline-body">
                                <p> Research in HCI, Data Analytics, and mHealth under Dr. Shameen Ahmed, Dr. Moushoumi Sharmin and Dr. Tanzima Islam. Assisted in developing stress prediction model with biometric and self reported stress labels of college students with autism. Developed remotely to meet weekly deadlines and project checkpoints.  </p>
                            </div>
                            <p><small class="text-time"><i class="glyphicon glyphicon-time"></i>  September 2018 - Present</small></p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"> Assistant Director for Club Events</h4>
                                <p><small class="text-muted"> WWU Ethnic Student Center </small></p>
                            </div>
                            <div class="timeline-body">
                                <p> Provided administrative and programmatic support to help coordinate large events that the Ethnic Student Center clubs/organizations put together by providing guidance to ESC club leaders interpreting university's policies, procedures and budgeting.
                                    </p>
                            </div>
                            <p><small class="text-time"><i class="glyphicon glyphicon-time"></i></i>  September 2017 - June 2018</small></p>
                        </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> Communications and Marketing Officer</h4>
                            <p><small class="text-muted"> Artificial Intelligence Association</small></p>
                        </div>
                        <div class="timeline-body">
                            <p> Help assist on campus meetings once a week to discuss topics within the artificial intelligence field, hosts extra-curricular events where the club as a team can collaboratively develop an A.I programming assignment and/or partner with other clubs to request company representatives to present to the club about the A.I field, along with networking possibilities.</p>
                        </div>
                        <p><small class="text-time"><i class="glyphicon glyphicon-time"></i>December 2017 - June 2019</small></p>
                    </div>
                    </li>
                <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"> Academic Advisor</h4>
                                <p><small class="text-muted"> WWU Academic Advising Center </small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Worked with incoming college students providing educational guidance and assistance for students by planning schedules, recommending courses and determining appropriate education solutions for different types of students. </p>
                            </div>
                            <p><small class="text-time"><i class="glyphicon glyphicon-time"></i>  March 2016 - December 2016</small></p>
                        </div>
                </li>
            </ul>
        <div class="row">
                <div class="form-group col-xs-12">
                    <a type="submit" href="resume2.pdf" class="btn btn-success btn-lg">View Full Resumé!</a>
                </div>
            </div>
        </div>
                <!-- Ending TimeLine -->
</section>

