<section id="timeline" class="section">
        <div class="bcg-tl" data-anchor-target="#timeline"
        data-bottom-top="transform: translate3d(0px, -150px, 0px);"
        data-top-bottom="transform: translate3d(0px, 150px, 0px);">
        <div class= exp-center>
            <h2>EXPERIENCE</h2>
            <span class="divider"></span>
            <p>Mlitis. Pra lá , depois divoltis porr faiz elrzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris </p>
        </div>
        <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-graduation-cap"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> Western Washington University</h4>
                            <p><small class="text-muted"> Computer Science Degree</small></p>
                        </div>
                        <div class="timeline-body">
                            <p> Bachelor of Science in Computer Science. Graduating in August of 2019 </p>
                        </div>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>September 2015 - Present</small></p>
                    </div>
                </li>
                <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-apple"></i></div>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"> HCI RESEARCH ASSISTANT </h4>
                                <p><small class="text-muted"> WWU College of Computer Science</small></p>
                            </div>
                            <div class="timeline-body">
                                <p> Assisted in developing stress prediction model with biometric and self reported stress labels of college students with autism. Research in HCI, Data Analytics, and mHealth under Dr. Moushumi Sharmin and Dr. Shameen Ahmed.  </p>
                            </div>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>September 2015 - Present</small></p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><i class="fa fa-hammer"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"> Assistant Director for Club and Events</h4>
                                <p><small class="text-muted"> WWU Associated Students Ethnic Student Center</small></p>
                            </div>
                            <div class="timeline-body">
                                <p> Facilitate and provide direct support to 18 cultural clubs large events. Help manage and distribute a $40,000 budget for clubs large events funds.
                                    </p>
                            </div>
                            <p><small class="text-muted"><i class="fa fa-calendar-times"></i></i>September 2017 - June 2018</small></p>
                        </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title"> WWU Artificial Intelligence Association</h4>
                            <p><small class="text-muted"> WWU Artificial Intelligence Association</small></p>
                        </div>
                        <div class="timeline-body">
                            <p> Developed, support and promote company goals, including message development, social media content creation and media outreach</p>
                        </div>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>December 2017 - June 2019</small></p>
                    </div>
                    </li>
                <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"> Academic Advisor</h4>
                                <p><small class="text-muted"> WWU Academic Advising Center </small></p>
                            </div>
                            <div class="timeline-body">
                                <p> Helped students define and develop realistic educational career plans through schedule planning.</p>
                            </div>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> March 2016 - December 2016</small></p>
                        </div>
                </li>
            </ul>
        <div class="row">
                <div class="form-group col-xs-12">
                    <a type="submit" href="resume.pdf" class="btn btn-success btn-lg">View Full Resumé!</a>
                </div>
            </div>
        </div>
                <!-- Ending TimeLine -->
</section>

