<!DOCTYPE html>
<html>

    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include intro.html %}
    {% include about.html %}
    {% include timeline.html %}
    {% include portfolio_grid.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>

<!-- 
<section id="slide-5" class="homeSlide homeSlideTall2">
        <div class="bcg">&nbsp;</div>
        <div class="bcg bcg2"
            data-bottom-top="opacity: 0;"
            data--33p-top="opacity: 0;"
            data--66p-top="opacity: 1;"
            data-anchor-target="#slide-5"
        >
            <div class="hsContainer">
                <div class="hsContent"
                    data-bottom-top="opacity: 0;"
                    data-center="opacity: 1"
                    data-anchor-target="#slide-5"
                >
                    <h2>Fixed element fading in and out</h2>
                </div>
            </div>
        </div>
        <div class="bcg bcg3"
            data-300-bottom="opacity: 0;"
            data-100-bottom="opacity: 1;"
            data-anchor-target="#slide-5"
        >
            <div class="hsContainer">
                <div class="hsContent"
                    data-100-bottom="opacity: 0;"
                    data-bottom="opacity: 1;"
                    data-anchor-target="#slide-5"
                >
                    <h2>The End</h2>
                </div>
            </div>
        </div>
    </section> -->